# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/
build/
yaml-cpp/
CLI11/
41003/
20230927_181109North_Carolina_VIPER_Rutherford_T-Control__TO_41003_FROM_1610051.mp3
52199/
config.yaml
recordings.db
.aider*
scripts/20231121_SUMMARY_0.txt
scripts/20231121_SUMMARY.txt
scripts/20231122_SUMMARY.txt
build.ninja
20230927_181109North_Carolina_VIPER_Rutherford_T-Control__TO_41003_FROM_1610051.wav
20230927_181109North_Carolina_VIPER_Rutherford_T-Control__TO_41003_FROM_1610051.wav.json
scripts/__pycache__/ollama.cpython-311.pyc
scripts/ollama.py
.claudebuild-bundled/
