[submodule "external/yaml-cpp"]
    path = external/yaml-cpp
    url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/json"]
    path = external/json
    url = https://github.com/nlohmann/json.git
[submodule "external/whisper.cpp"]
    path = external/whisper.cpp
    url = https://github.com/ggerganov/whisper.cpp.git
[submodule "external/CLI11"]
    path = external/CLI11
    url = https://github.com/CLIUtils/CLI11.git
[submodule "external/inotify-cpp"]
	path = external/inotify-cpp
	url = https://github.com/erikzenker/inotify-cpp
